<div class="page-header">
  <h1>Question? <small>Q&A with our Watson instance</small></h1>
</div>
<form class="form-horizontal" >
  <div class="form-group">
    <div class="col-sm-11">
      {{input value=question placeholder="What do you want to know?" class="form-control"}}
    </div>
    <div class="col-sm-1">
      <button type="submit" class="btn btn-primary" {{action 'submitQuestion'}}>Ask</button>
    </div>
    </div>
</form>
{{#if loading}}
  <div class="spinner">
    <h3 class="text-center">Loading...</h3>
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
{{/if}}
{{#if watsonResponse}}
  <h2><em>{{watsonResponse.question.questionText}}</em></h2>
  {{#each watsonResponse.question.answers}}
  <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{heading}}</h3>
                </div>
                <div class="panel-body">
                  {{{body}}}
                </div>
              </div>
    <h6>
      <b>confidence:</b> {{confidence}} |
      <b>pipeline:</b> {{pipeline}} |
      <b>text:</b> {{text}}
    </h6>
    <hr>
  {{/each}}
{{/if}}
