<div class="page-header">
  <h1>
    Question?<br>
    <small>Q&A with Watson</small>
  </h1>
</div>
<div class="row">
  <form>
    <div class="form-group col-xs-12">
      <div class="input-group">
        {{input value=question placeholder="What do you want to know?" class="form-control"}}
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" {{action 'askWatson'}}>Ask</button>
        </span>
      </div>
      <!-- /input-group -->
    </div>
  </form>
</div>
<div class="row">
  <div class="col-md-7">
    <h3>Live Question Feed</h3>
    <ul>
      {{outlet}}
    </ul>
  </div>
  <div class="col-md-5">
    <h3>Example Questions</h3>
    <ul>
      <li>
        <h4 class="text-info"><a href="#" {{action 'askWatson' 'Who is Ben Carson?'}}>Who is Ben Carson?</a></h4>
      </li>
      <li>
        <h4 class="text-info"><a href="#" {{action 'askWatson' 'Does Donald Trump support the troops?'}}>Does Donald Trump support the troops?</a></h4>
      </li>
      <li>
        <h4 class="text-info"><a href="#" {{action 'askWatson' 'Does Hillary Clinton want to legalize marijuana?'}}>Does Hillary Clinton want to legalize marijuana?</a></h4>
      </li>
    </ul>
  </div>
</div>

{{#if error}}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">X</button>
    <h4>{{error.status}}</h4>
    {{error.message}}
  </div>
  <h3 class="text-primary">Sorry, we are unable answer your question at this time.</h3>
{{else}}
  {{#if loading}}
    <div class="spinner">
      <h3 class="text-center">Loading...</h3>
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  {{else}}
    {{#if watsonResponse}}
      <h3>
        <em class="text-muted">{{watsonResponse.question.questionText}}</em>
      </h3>
      {{#if watsonResponse.question.answers}}
        {{#each watsonResponse.question.answers}}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{heading}}</h3>
            </div>
            <div class="panel-body">
              {{{body}}}
            </div>
          </div>
          <h6>
            <b>confidence:</b> {{confidence}} |
            <b>pipeline:</b> {{pipeline}} |
            <b>text:</b> {{text}}
          </h6>
          <hr>
        {{/each}}
      {{else}}
        <h3 class="text-primary">Sorry, we are unable answer your question at this time.</h3>
        <h3 class="text-primary">Is there anything else you'd like to know?</h3>
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
